In [13]:
path = "D:\Zach\Desktop\Data Structs"

In [12]:
import pandas as pd
directors = pd.read_csv(path + "\Writer_Directors.csv")
#movies = pd.read_csv(path + "\Movies_Only.csv")

In [7]:
movies = movies.drop("Unnamed: 0", axis = 1)

In [13]:
directors = directors.drop("Unnamed: 0", axis = 1)

In [23]:
movies = movies.set_index('tconst')
directors = directors.set_index('tconst')

In [24]:
print(movies.head())
print(directors.head())

          titleType                 primaryTitle                originalTitle  \
tconst
tt0000502     movie                     Bohemios                     Bohemios
tt0000574     movie  The Story of the Kelly Gang  The Story of the Kelly Gang
tt0000615     movie           Robbery Under Arms           Robbery Under Arms
tt0000630     movie                       Hamlet                       Amleto
tt0000675     movie                  Don Quijote                  Don Quijote

           isAdult startYear endYear runtimeMinutes  \
tconst
tt0000502        0      1905      \N            100
tt0000574        0      1906      \N             70
tt0000615        0      1907      \N             \N
tt0000630        0      1908      \N             \N
tt0000675        0      1908      \N             \N

                               genres
tconst
tt0000502                          \N
tt0000574  Action,Adventure,Biography
tt0000615                       Drama
tt0000630                       Drama
tt0000675                       Drama
           directors writers
tconst
tt0000001  nm0005690      \N
tt0000002  nm0721526      \N
tt0000003  nm0721526      \N
tt0000004  nm0721526      \N
tt0000005  nm0005690      \N

In [25]:
new_table = movies.join(directors, how = 'inner')

In [26]:
print(new_table.head())

          titleType                 primaryTitle                originalTitle  \
tconst
tt0000502     movie                     Bohemios                     Bohemios
tt0000574     movie  The Story of the Kelly Gang  The Story of the Kelly Gang
tt0000615     movie           Robbery Under Arms           Robbery Under Arms
tt0000630     movie                       Hamlet                       Amleto
tt0000675     movie                  Don Quijote                  Don Quijote

           isAdult startYear endYear runtimeMinutes  \
tconst
tt0000502        0      1905      \N            100
tt0000574        0      1906      \N             70
tt0000615        0      1907      \N             \N
tt0000630        0      1908      \N             \N
tt0000675        0      1908      \N             \N

                               genres  directors  \
tconst
tt0000502                          \N  nm0063413
tt0000574  Action,Adventure,Biography  nm0846879
tt0000615                       Drama  nm0533958
tt0000630                       Drama  nm0143333
tt0000675                       Drama  nm0194088

                                 writers
tconst
tt0000502  nm0063413,nm0657268,nm0675388
tt0000574                      nm0846879
tt0000615            nm0092809,nm0533958
tt0000630                      nm0000636
tt0000675                      nm0148859

In [27]:
new_table.to_csv(path + "\Movies_with_writers.csv")

In [2]:
import pandas as pd
supp = pd.read_csv(path + "\Supp_Cast.csv")

In [5]:
print(supp.head())

           ordering     nconst         category                      job  \
tconst
tt0000001         1  nm1588970             self                       \N
tt0000001         2  nm0005690         director                       \N
tt0000001         3  nm0374658  cinematographer  director of photography
tt0000002         1  nm0721526         director                       \N
tt0000002         2  nm1335271         composer                       \N

          characters
tconst
tt0000001   ["Self"]
tt0000001         \N
tt0000001         \N
tt0000002         \N
tt0000002         \N

In [4]:
supp = supp.set_index('tconst')
supp = supp.drop("Unnamed: 0", axis = 1)

In [10]:
tempDict = dict()    
for row, data in supp.iterrows():
    if tempDict.get(data[1]) == None:
        tempDict[data[1]] = list()
    tempDict[data[1]].append(row)
        
print("Done")

Done

In [7]:
print(len(supp))

43629195

In [11]:
import csv
with open('process.tsv', 'w', newline='\n') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter='\t')
    for key in tempDict:
        spamwriter.writerow([key, tempDict[key]])

In [12]:
print(len(tempDict))

4355240

In [15]:
movies = pd.read_csv(path + "\Movies_Only.csv")

C:\Users\Zach\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
print(movies.head())

          titleType                 primaryTitle                originalTitle  \
tconst
tt0000502     movie                     Bohemios                     Bohemios
tt0000574     movie  The Story of the Kelly Gang  The Story of the Kelly Gang
tt0000615     movie           Robbery Under Arms           Robbery Under Arms
tt0000630     movie                       Hamlet                       Amleto
tt0000675     movie                  Don Quijote                  Don Quijote

           isAdult startYear endYear runtimeMinutes  \
tconst
tt0000502        0      1905      \N            100
tt0000574        0      1906      \N             70
tt0000615        0      1907      \N             \N
tt0000630        0      1908      \N             \N
tt0000675        0      1908      \N             \N

                               genres
tconst
tt0000502                          \N
tt0000574  Action,Adventure,Biography
tt0000615                       Drama
tt0000630                       Drama
tt0000675                       Drama

In [17]:
movies = movies.set_index('tconst')
movies = movies.drop("Unnamed: 0", axis = 1)

In [20]:
movies.to_csv(path + "\Final_Movies.tsv", sep = '\t')